
<p>
-- <br/>
<%= _('Your Friendly Neighborhood') %>
<% if Settings.brand.title %>
    <%= link_to Settings.brand.title, root_url %>
<% else %>
    <%= link_to _('Tbyte Secure Send'), root_url %>
<% end %>
</p>
